{% extends 'base.html' %}
{% block title %}Подписанные документы{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Подписанные документы</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Документ</th>
                <th>Дата запроса</th>
                <th>Дата подписания</th>
            </tr>
            </thead>
            <tbody>
            {% for approval in approvals %}
                <tr>
                    <td><a href="{% url 'approval_detail' approval.pk %}">{{ approval.approval_request.document.description }}</a></td>
                    <td>{{ approval.approval_request.requested_at }}</td>
                    <td>{{ approval.approval_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
