{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}DocSigningSystem{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'home' %}">Cuman</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_doc' %}">Загрузить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_doc' %}">Список документов
                            {% with badge_count=request.user|approved_requests_badge %}
                                {% if badge_count > 0 %}
                                    <span class="badge badge-primary">{{ badge_count }}</span>
                                {% endif %}
                            {% endwith %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'approval_create' %}">Отправить на согласование </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'approvals_history' %}">История отправок </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'incoming_approvals' %}">Входящие запросы
                            {% with badge_count=request.user|incoming_approvals_badge %}
                                {% if badge_count > 0 %}
                                    <span class="badge badge-primary">{{ badge_count }}</span>
                                {% endif %}
                            {% endwith %}</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signed_approvals_history' %}">История подписаний </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Зайти</a>
                    </li>
                {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action={% url 'search_doc' %}>
            <input class="form-control mr-sm-2" type="search" placeholder="название документа" name="documents"
                   aria-label="Search" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
        </form>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
</html>