{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1>Удалить документ</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Вы точно хотите удалить документ: "{{ document.description }}"?</h5>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a href="{{ document.get_absolute_url }}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}>