{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Approval Requests</h1>
        <ul class="list-group">
            {% for approval_request in approvals %}
                <li class="list-group-item">
                    <h4 class="mb-2">Sender: {{ approval_request.sender.email }}</h4>
                    <p><strong>Description:</strong> {{ approval_request.document.description }}</p>
                    <p><strong>Requested At:</strong> {{ approval_request.requested_at }}</p>
                    <p><strong>File:</strong> <a href="{{ approval_request.document.file.url }}"
                                                 target="_blank">{{ approval_request.document.file.name }}</a></p>
                </li>
            {% empty %}
                <li class="list-group-item">No approval requests available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}