{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Входящие запросы</h1>
        <ul class="list-group">
            {% for approval_request in approvals %}
                <li class="list-group-item">
                    <h4 class="mb-2">Отправитель: {{ approval_request.sender }}</h4>
                    <p><strong>Описание:</strong> {{ approval_request.document.description }}</p>
                    <p><strong>Дата отправки:</strong> {{ approval_request.requested_at }}</p>
                     <p>
                        <strong>Подписавшие:</strong>
                        {% for receiver in approval_request.requestreceivers_set.all %}
                            {% if receiver.is_approved %}
                            {{  receiver.receivers.get_initials}}
                            {% endif %}
                            {% endfor %}
                            </p>
                 <p>
                        <strong>Ожидаются подписи от:</strong>
                        {% for receiver in approval_request.requestreceivers_set.all %}
                            {% if  not receiver.is_approved %}
                            {{  receiver.receivers.get_initials}}
                            {% endif %}
                            {% endfor %}
                            </p>



                     <form method="POST" action="{% url 'approve_request' approval_request.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Согласовать</button>
                        <a href="{{ approval_request.document.file.url }}" target="_blank" class="btn btn-info ml-2">Открыть документ</a>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item">Нет входящих запросов.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
