{% extends 'base.html' %}
{% block title %}Отправленные запросы{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Отправленные запросы</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Описание</th>
                <th>Дата запроса</th>
                <th>Статус</th>

            </tr>
            </thead>
            <tbody>
            {% for approval_request in approval_requests %}
                <tr>
                    <td>
                        <a href="{% url 'sender_approval_detail' approval_request.pk %}">{{ approval_request.document.description }}</a>
                    </td>
                    <td>{{ approval_request.requested_at }}</td>
                    <td>
                        {% if approval_request.is_approved %}
                            <span class="badge badge-success">Согласован</span>
                        {% else %}
                            <span class="badge badge-warning">Ожидает подписи</span>
                        {% endif %}
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
