{% extends 'base.html' %}
{% block title %}Редактировать документ{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    {% if  requests_count == 0 %}
        <div class="container mt-5">
            <h1>Редактировать документ</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form |crispy }}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{{ document.get_absolute_url }}" class="btn btn-secondary ml-2">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Документ уже согласован или отправлен на согласование</h1>
    {% endif %}
{% endblock %}